@charset "utf-8";
/* CSS Document */

/* Smartphones (portrait and landscape) ----------- */

/* etiquetas estandar que no cambian entre versiones */


.mordiscodet{
	position:absolute;
	right:30px;
	top:29px;
	z-index: 99999;
}

#todaslasnoticias{
display: block;
clear: both;

}

#todaslasnoticias img{
 padding:0;
}
.row .row-eq-height {
display:block;
}
.destacadados{
background-color: #CDCDCC;
}
.sindestacar .col-lg-4:nth-child(odd) {
background-color:#80CFCD;
padding-bottom: 30px;
}

.sindestacar .col-lg-4:nth-child(even) {
 background-color: #CDCDCC;
 padding-bottom: 30px;
}

.sindestacar .col-xs-12 h1{
}
.sindestacar .col-xs-12 time{

}
/*zona mordisquitos*/
.destacadauna{
padding-bottom:30px;
}
.destacadados{
padding-bottom:30px;
}
.destacadauna .mordisquitos{
		position: absolute;
		z-index: 9999;
		left:auto;
		right: 15px;
		bottom: -1px;
		top:auto;
}
.destacadados .mordisquitos{
		position: absolute;
		z-index: 9999;
		left:auto;
		right: 15px;
		bottom: -1px;
		top:auto;
}

article{ padding: 1rem 1rem 0 1rem;}
.destacadauna p{
color:#000;
font-size: 1rem;
line-height: 1rem;
}
h1{font-size: 1rem;
line-height: 1.5rem;
}

.destacadauna time{
color:#19A8A5;
font-size:0.75rem;
line-height: 0.75rem;
padding: 0;
}
.destacadados time{
color:#19A8A5;
font-size:0.75rem;
line-height: 0.75rem;
padding: 0;
}

hgroup h2{
padding: 0;
font-size: 1.2rem;
line-height: 1.2rem;
font-weight: 400;
}
time{
font-size: 0.75rem;
}



.black a:link{color:#000;}
.black a:visited{color:#000;}
.black a:hover{color:#000;}

.white{
	color:#fff;
	padding:15px 15px 15px 15px;
}
.black{
	color:#000;
	padding:15px 15px 15px 15px;
}

.white a:link{color:#fff;}
.white a:visited{color:#fff;}
.white a:hover{color:#fff;}


.mordisquitos{
position:absolute;
top:auto;
bottom: -1px;
left:15px;
right: auto;
}
/*tablet*/

@media only screen and (min-width: 768px){

.col-sm-6 article hgroup{
padding:1rem;
}
.col-sm-6 h1, h2, h3{
margin-bottom: 1rem;
}
.sindestacar .col-sm-6 h1{
margin: 0rem
}
.sindestacar .col-sm-6 time{
margin-left: 0rem;
}
.sindestacar .col-sm-6{
max-height: 200px;
overflow: hidden;
}
h1.black{margin-top: 0;}

.row .row-eq-height {
display:block;}
.sindestacar .col-lg-4:nth-child(odd) {
		padding-bottom: 0px;
}

.sindestacar .col-lg-4:nth-child(even) {
 padding-bottom: 0px;
}

.destacadauna{
padding-bottom:0px;
}
.destacadauna .mordisquitos{
		right: 0px;
		bottom: -1px;

}
.destacadados .mordisquitos{
		right: 0px;
		bottom: -1px;

}
.destacadados{
padding-bottom:0px;
}
.mordisquitos{
position:absolute;
top:auto;
bottom: 15px;
left:-1px;
right: auto;
}
.vira .col-lg-4:nth-child(odd) {
float:left;
}
.vira .col-lg-4:nth-child(even) {
float:right;
}
.vira .col-lg-4 img:nth-child(1n+1){
float: right;
}
.vira.inversa {float:right;}

}
/*laptop*/
@media only screen and (min-width: 992px) {


.sindestacar .col-sm-6 h1{
margin:0;
}

.col-sm-6 article hgroup{
padding:0;
}

.col-sm-6 h1, h2, h3{
margin-bottom: 0.2rem;
}
.vira.inversa {float:right;}

.vira .col-lg-4:nth-child(odd) {
float:left;
}
.vira .col-lg-4:nth-child(even) {
float:right;
}
.vira .col-lg-4 img:nth-child(1n+1){
float: right;
}
.row .row-eq-height {display:flex;}

.destacadauna .mordisquitos{
		right: -1px;
		bottom: 15px;
}
.destacadados .mordisquitos{
		right: -1px;
		bottom: 15px;

}

article{ padding: 1rem 1rem 0 1rem;}
.destacadauna p{
color:#000;
font-size: 0.8rem;
line-height: 0.9rem;
}
.destacadados p{
color:#000;
font-size: 0.8rem;
line-height: 0.8rem;
}
h1{font-size: 1.2rem;
line-height: 1.2rem;}
.destacadauno time {
font-size:0.75rem;
line-height: 0.75rem;
}
.destacadados time {
font-size:0.75rem;
line-height: 0.75rem;
}

hgroup h2{
padding: 0;
font-size: 1rem;
line-height: 1rem;
font-weight: 400;
}
time{
font-size: 0.75rem;
	padding:0;
}


h1.black{padding-top: 15px;}
.black a:link{color:#000;}
.black a:visited{color:#000;}
.black a:hover{color:#000;}


h1.white{padding-top: 15px;}
.white a:link{color:#fff;}
.white a:visited{color:#fff;}
.white a:hover{color:#fff;}

.white{
	color:#fff;
	padding:15px 15px 15px 15px;
}
.black{
	color:#000;
	padding:15px 15px 15px 15px;
}

time:nth-child(2n+1){
color:#fff;
}
.mordisquitos{
position:absolute;
top:auto;
bottom: 15px;
left:-1px;
right: auto;
}
.vira .col-lg-4:nth-child(odd) {
float:left;
}
.vira .col-lg-4:nth-child(even) {
float:right;
}
}
/*pc*/

@media only screen and (min-width : 1200px){
.sindestacar .col-sm-6 h1{
margin:0;
}

.col-sm-6 article hgroup{
padding:0;
}

.col-sm-6 h1, h2, h3{
margin-bottom: 0.2rem;
}
.vira.inversa {float:right;}

.vira .col-lg-4:nth-child(odd) {
float:left;
}
.vira .col-lg-4:nth-child(even) {
float:right;
}
.vira .col-lg-4 img:nth-child(1n+1){
float: right;
}
.row .row-eq-height {display:flex;}

.destacadauna .mordisquitos{
		right: -1px;
		bottom: 15px;
}
.destacadados .mordisquitos{
		right: -1px;
		bottom: 15px;

}

article{ padding: 1rem 1rem 0 1rem;}
.destacadauna p{
color:#000;
font-size: 0.9rem;
line-height: 0.9rem;
}
.destacadados p{
color:#000;
font-size: 0.9rem;
line-height: 0.9rem;
}
h1{font-size: 1.5rem;
line-height: 1.5rem;}
.destacadauna time{
color:#19A8A5;
line-height: 0.75rem;
padding: 0;
}
.destacadados time{
color:#19A8A5;
line-height: 0.75rem;
padding: 0;
}

hgroup h2{
padding: 0;
font-size: 1.2rem;
line-height: 1.2rem;
font-weight: 400;
}
time{
font-size: 0.75rem;
	padding:0;
}


h1.black{padding-top: 15px;}
.black a:link{color:#000;}
.black a:visited{color:#000;}
.black a:hover{color:#000;}


h1.white{padding-top: 15px;}
.white a:link{color:#fff;}
.white a:visited{color:#fff;}
.white a:hover{color:#fff;}

.white{
	color:#fff;
	padding:15px 15px 0 15px;
}
.black{
	color:#000;
	padding:15px 15px 0 15px;
}

.sindestacar time:nth-child(2n+1){

color:#fff;
}
.mordisquitos{
position:absolute;
top:auto;
bottom: 15px;
left:-1px;
right: auto;
}
.vira .col-lg-4:nth-child(odd) {
float:left;
}
.vira .col-lg-4:nth-child(even) {
float:right;
}
}